{% extends 'BackOfficeMonitoringBundle::layout.html.twig' %}

{% block title %}{{parent()}} - Paramétrage des codes opération surveillés{% endblock %}

{% block content %}
    <h3>Paramétrage des codes opérations surveillés</h3>
    <div id="monitoEditique">
        <div class="panel panel-default monitoFiltre">
            <div class="panel-heading">
                <h3 class="panel-title">Filtres</h3>
            </div>
            <div class="panel-body">
                <form id="saisieOD" action="{{ path('back_office_monitoring_casa_code_operation') }}" method="POST" class="form-horizontal" role="form">
                    <table class="bandeauSaisie" style="width:95%">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Code surveillé</label>
                                    <div class="col-sm-6">
                                        <input class="form-control input-sm" type="text" {% if datas.code is defined %} value="{{ datas.code }}" {% endif %} autocomplete="off" name="search[code]" placeholder="Code surveillé">
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Libellé</label>
                                    <div class="col-sm-6">
                                        <input class="form-control input-sm" type="text" {% if datas.libelle is defined %} value="{{ datas.libelle }}" {% endif %} autocomplete="off" name="search[libelle]" placeholder="Libellé">
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-sm">Chercher</button>
                                </div>
                                <div class="form-group">
                                    <a href="{{ path('back_office_delete_filters', {'page':'code_operation'}) }}" class="btn btn-warning btn-sm">Réinitialiser les filtres</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    {% include 'BackOfficeMonitoringBundle:Includes:th_table.html.twig' with {'name': 'Code surveillé', 'column': 'code'} %}
                    {% include 'BackOfficeMonitoringBundle:Includes:th_table.html.twig' with {'name': 'Libelle', 'column': 'libelle'} %}
                    {% include 'BackOfficeMonitoringBundle:Includes:th_table.html.twig' with {'name': 'Type de log', 'column': 'libelle'} %}
                    {% include 'BackOfficeMonitoringBundle:Includes:th_table.html.twig' with {'name': 'Actions', 'column': 'actions', 'noSort':1} %}
                </tr>
            </thead>
            <tbody>
                {% for codeOperation in entities %}
                <tr>
                    <td>{{codeOperation.code}}</td>
                    <td>{{codeOperation.libelle}}</td>
                    <td>{{codeOperation.typePresence ? 'Visible' : 'Exclu'}}</td>
                    <td>
                        <a href="{{ path('back_office_monitoring_casa_code_operation_edit', { 'id': codeOperation.id }) }}">
                            <img src="{{ asset('bundles/frontofficemain/images/edit_1.png') }}" width="30" alt="Modifier" title="Modifier" />
                        </a>
                        <a href="{{ path('back_office_monitoring_casa_code_operation_delete', { 'id': codeOperation.id }) }}">
                            <img src="{{ asset('bundles/frontofficemain/images/delete.png') }}" width="30" alt="Détails" title="Supprimer" onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce code de la surveillance ?'));" />
                        </a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Aucun résultat</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% include 'BackOfficeMonitoringBundle:Includes:pagination.html.twig' %}
        
        <div class="panel panel-default monitoFiltre">
            <div class="panel-body">
                <a href="{{ path('back_office_monitoring_casa_code_operation_new') }}">Ajouter une nouvelle entrée</a>
            </div>
        </div>
    </div>
{% endblock %}