<dynamic-page document-template="{{templates.pageFixe}}">
    <div margin-left="{{marginLeft}}" margin-top="184px" font-size="{{ normalFontSize }}">
        {% include 'EditiqueDATBundle:Default:entete.pdf.twig' %}
    </div>
    
    <div margin-left="{{marginLeft}}" font-size="{{ normalFontSize }}">
        <div margin-top="50px" margin-left="30px">{{ dat.tauxNominal }}</div>
        <div margin-top="15px" margin-left="30px">{{ dat.tauxActuriel }}</div>
        <div margin-top="223px" margin-left="-38px">{{ dat.dateEditionFromSab }}</div>
    </div>
</dynamic-page>