Bonjour<br /><br />

SAB a généré le spool <b>{{ nomspool }}</b>
<br /><br />

Veuillez-vous connecter sur le lien ci-dessous pour le visualiser :
<br />   
<a href='{{ url('transverse_partenaire_spoolalert_consultation') }}/{{ idspool }}'>{{ nomspool }} </a>
  

<br />       
Vous-pouvez visualiser tous les spools en consultant cette adresse :
<a href='{{ url('transverse_partenaire_spoolalert_consultation') }}'>{{ url('transverse_partenaire_spoolalert_consultation') }}</a>

<br /><br />
Cordialement,<br />
BE Banque