<div text-align="center" margin-top="{{margeHolder}}px" font-size="{{fontSize}}pt">
    {{rib.holder}}{{rib.holderSuite}}
</div>
<div text-align="center" font-size="10pt">
    {{rib.address|raw}}<br/>
    {{rib.addressSuite|raw}}<br/>
</div>
<div margin-top="{{deltaMargeIban}}px" text-align="center"  font-size="{{fontSize}}pt">
    <span font-style="bold">IBAN : </span>    
    {{rib.Iban}}
</div>
<div margin-top="{{deltaMargeBic}}px" text-align="center" font-size="{{fontSize}}pt">
    <span font-style="bold">BIC : </span>   
    {{rib.bic}}
</div>