{% set heightAdr = '16px' %}

<pdf>
    <dynamic-page document-template="{{templates.page1}}" font-size="10">
        <div margin-left="401px" margin-top="103px" height="88" font-size="11pt">
            <div>
                <div height='{{heightAdr}}' font-style="bold">
                    {{ lettre.raisonSociale1 ?: '-' }} {{ lettre.raisonSociale2 }}
                </div>
                <div height='{{heightAdr}}'>
                    {{ lettre.adresseFinale[0] }}
                </div>
                <div height='{{heightAdr}}'>
                    {{ lettre.adresseFinale[1] }}
                </div>
                <div height='{{heightAdr}}'>
                    {{ lettre.adresseFinale[2] }}
                </div>
                <div height='{{heightAdr}}'>
                    {{ lettre.adresseFinale[3] }}
                </div>
            </div>
        </div>

        <div margin-left="451px" margin-top="39px">
            <div>
                {{ 'now'|date('d/m/Y') }}
            </div>
        </div>
        
        <!-- CECI EST UNE VERRUE NECESSAIRE, SINON CE N'EST PAS ALIGNE. D. -->
        <div height='1'></div>

        <div margin-left="606px" margin-top="121px">
            <div>
                {{ entity.numCompte }}
            </div>
        </div>
    </dynamic-page>
</pdf>