{% include 'EditiqueLettreBundle:Default:_caution_general.pdf.twig' %}

<div margin-left="78px" margin-top="24px" width="64" text-align="right">
    <div font-style="bold">
        {{ caution.mtCautionInit ?: '-' }}
    </div>
</div>

<div margin-left="560px" margin-top="2px" width="28" text-align="center">
    <div font-style="bold">
        {{ caution.idDossier ?: '-' }}
    </div>
</div>

<!-- CECI EST UNE VERRUE NECESSAIRE, SINON CE N'EST PAS ALIGNE. D. -->
<div height='1'></div>

<div margin-left="55px" margin-top="0px" width="62" text-align="right">
    <div font-style="bold">
        {{ caution.mtPretInit ?: '-' }}
    </div>
</div>

<!-- CECI EST UNE VERRUE NECESSAIRE, SINON CE N'EST PAS ALIGNE. D. -->
<div height='1'></div>

<div margin-left="441px" margin-top="8px" width="30" text-align="right">
    <div font-style="bold">
        {{ caution.taux ?: '-' }}
    </div>
</div>

<div margin-left="475px" margin-top="132px" width="60" text-align="center">
    <div font-style="bold">
        {{ caution.dateFin ?: '-' }}
    </div>
</div>