<table width="100%">
    <tr>
        <td border-type="none" width="15"></td>
        <td border-type="none" width="50"></td>
        <td border-type="none" text-align="right" width="99">0</td>
        <td border-type="none" text-align="right" width="74">{{oCredit.montantCapital|number_format(2, ',', ' ')}} </td>
        <td border-type="none" text-align="right" width="60">{{oCredit.totalInteret|number_format(2, ',', ' ')}}</td>
        <td border-type="none" text-align="right" width="84">{{oCredit.totalHorsAssurance|number_format(2, ',', ' ')}}</td>
        <td border-type="none" text-align="right" width="68">{{oCredit.totalAssurance|number_format(2, ',', ' ')}}</td>
        <td border-type="none" text-align="right" padding-right="12">{{oCredit.totalPaye|number_format(2, ',', ' ')}}</td>
    </tr>
</table>