<tr background.color="{{colorLineOpe}}">
    <td border-type="none" text-align="center" width="15" height="12px">{{echeance.numEcheance}}</td>
    <td border-type="none" text-align="center" width="50" height="12px">{{echeance.datePlvt}}</td>
    <td border-type="none" text-align="right" width="99" height="12px">{{echeance.capRestDu|number_format(2, ',', ' ')}}</td>
    <td border-type="none" text-align="right" width="74" height="12px">{{echeance.capAmorti|number_format(2, ',', ' ')}} </td>
    <td border-type="none" text-align="right" width="60" height="12px">{{echeance.interetEch|number_format(2, ',', ' ')}}</td>
    <td border-type="none" text-align="right" width="84" height="12px">{{echeance.montantHorsAss|number_format(2, ',', ' ')}}</td>
    <td border-type="none" text-align="right" width="68" height="12px">{{echeance.montantAss|number_format(2, ',', ' ')}}</td>
    <td border-type="none" text-align="right" padding-right="12" height="12px">{{echeance.totalEcheance|number_format(2, ',', ' ')}}</td>
</tr>