{% extends 'BackOfficeMonitoringBundle::layout.html.twig' %}

{% block title %}{{parent()}} - Arbo SAB {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@FrontOfficeMainBundle/Resources/public/css/ztree.css'
    %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <h3>Consultation fichiers SAB : fichiers_externes</h3>
    {% include 'BackOfficeMonitoringBundle:SAB:blockSynchro.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@FrontOfficeMainBundle/Resources/public/js/jquery.ztree.min.js'
        '@BackOfficeMonitoringBundle/Resources/public/js/treeSAB.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
    var urlSynchro = '{{path('back_office_sab_arbo_synchro')}}';
    var urlRefresh = '{{path('back_office_sab_arbo_nodes')}}';
    $( document ).ready( function (){
        synchro(urlSynchro);
        refreshArboSAB(urlRefresh);

        $('#btn-synchro').click(function(){
            synchro(urlSynchro);
            refreshArboSAB(urlRefresh);
        });
    });
    </script>
{% endblock %}